.header {
  padding: 20px 0 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    position: relative;
    z-index: 2;
    font-size: 15px;
    padding: 10px;
    flex-basis: 120px;
    background: rgba(0,0,0,.3);
    border: 1px solid rgb(102, 102, 102);
    visibility: visible;
    opacity: 1;
    transition: .3s ease-in-out;

    @include rm(375) {
      font-size: 16px;
      flex-basis: 130px;
    }

    &:hover {
      border-color: #fff;
    }

    &.btn-arrow--left::before {
      width: 30px;
      height: 30px;
      top: 4px;
      left: 0;
    }

    &.hidden {
      visibility: hidden;
      opacity: 0;
    }
  }
}