.header {
  padding: 20px 0 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    position: relative;
    z-index: 2;
    font-size: 18px;
    padding: 10px;
    flex-basis: 240px;
    visibility: visible;
    opacity: 1;
    transition: .3s ease-in-out;

    &.btn-arrow--left::before {
      width: 30px;
      height: 30px;
      top: 6px;
      left: 8px;
    }

    &.hidden {
      visibility: hidden;
      opacity: 0;
    }
  }
}