.intro-popup {
  color: white;
  text-align: center;
}

.intro-popup__title {
  //font-size: 38px;
  margin: 0 0 16px;
}

.intro-popup__subtitle {
  font-size: 18px;
  margin: 0 0 40px;
  opacity: 0.95;
}

.intro-popup__form {
  padding: 15px;
  border-radius: 20px;
  background: linear-gradient(90deg, #FFB938 0%, #F3CF78 28.37%, #FEF4B3 61.54%, #E0BE80 100%), #F9E5C7;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.50);
  max-width: 480px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 24px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #21163F;

}

.input-wrapper {
  position: relative;
}


.input-wrapper .icon {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  opacity: 0.7;
}

.intro-popup__submit {
  width: 100%;
  padding: 15px;
  //background: #e63900;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 14px;
  text-align: left;
  font-weight: bold;
  margin: 20px 0 16px;
  cursor: pointer;
}

.intro-popup__privacy {
  font-size: 14px;
  opacity: 0.9;
  color: #21163f;
}