@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, button {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  //font-weight: 400;
  //font-style: normal;
}

.intro {
  //color: #fff;
  text-align: center;
}

.intro__title {
  font-weight: bold;
  margin: 0 0 24px;
  font-size: 35px;
  line-height: 1.2;
}

.intro__text p:first-child {
  font-size: 30px;
  line-height: 1.3;
  margin: 0 0 16px;
}

.intro__text p:last-child {
  margin: 0 0 30px;
}

.intro__text p {
  margin: 0 0 16px;
  font-size: 25px;
  line-height: 1.4;
}

.intro__text span {
  color: goldenrod;
}

.intro__card {
  margin: 0 auto 20px;
  max-width: 480px;
}

.intro__card img {
  width: 100%;
  height: auto;
  //border-radius: 10px;
  //box-shadow: 0 8px 24px rgba(0,0,0,0.35);
}

.intro__steps {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  counter-reset: item-counter;
  max-width: 380px;
  margin: 0 auto 30px;


  @include rm(640){
    max-width: 480px;
  }

  @include rm(768){
    max-width: 715px;
  }

}

.intro__step {
  counter-increment: item-counter;
  position: relative;
  width: 100%;
  display: flex;
  gap: 10px;
  min-height: 65px;
  align-items: center;
  padding: 10px 90px 10px 10px;
  text-align: left;
  border-radius: 10px;
  background-color: brown;
  -webkit-background-size: 45px;
  background-size: 45px;

  @include rm(640){
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 55px;
    width: calc(50% - 8px);
  }

  @include rm(768) {
    width: calc(33% - 10px);
  }
}

.intro__step:before {
  content: counter(item-counter) ")";
  position: relative;
  top: 0;
  left: 0px;
  font-size: 30px;
  font-weight: bold;
}


.intro__step:nth-child(1) {
  background-image: url(../../img/icon-scratch.svg);
  background-position: calc(100% - 20px) center;
  background-repeat: no-repeat;
  -webkit-background-size: 55px;
  background-size: 55px;

  @include rm(640) {
    background-position:  center bottom 10px;
  }
}

.intro__step:nth-child(2) {
  background-image: url(../../img/icon-click.svg);
  background-position: calc(100% - 20px) center;
  background-repeat: no-repeat;
    @include rm(640) {
    background-position:  center bottom 10px;
  }
}

.intro__step:nth-child(3) {
  background-image: url(../../img/icon-gift.svg);
  background-position: calc(100% - 20px) center;
  background-repeat: no-repeat;
    @include rm(640) {
    background-position:  center bottom 10px;
  }
}


.intro__step img {
  margin: 0 auto 10px;
  display: none;
}

.intro__step span {
  font-size: 19px;
  line-height: 1.3;
}

.intro__actions {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  max-width: 380px;
  width: 100%;
  margin: 0 auto;

  @include rm(640) {
    max-width: 650px;
  }
}

.intro__btn {
  padding: 15px;
  font-size: 19px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  transition: all 0.18s;
  background: linear-gradient(to top, #FDF29F, #EB4716);
  max-width: 100%;
  width: 100%;
  color: black;

  @include rm(640) {
    width: calc(50% - 12px);
  }
}


.intro__btn:hover {
  opacity: 0.92;
  transform: translateY(-1px);
}