.intro-success {
  color: #fff;
  text-align: center;
}

.success-card {
  max-width: 500px;
  margin: 0 auto;
  border-radius: 20px;
  background: linear-gradient(90deg, #FFB938 0%, #F3CF78 28.37%, #FEF4B3 61.54%, #E0BE80 100%), #F9E5C7;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.50);
  color: #000;
  padding: 25px;
}

.intro-success__title {
  margin: 0 0 20px;
  font-size: 36px;
}

.intro-success__text {
  font-size: 20px;
  line-height: 1.5;
  margin: 0 0 32px;
}

.intro-success__form .form-group {
  margin-bottom: 20px;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  width: 100%;
  padding: 16px 20px 16px 50px;
  border: none;
  border-radius: 50px;
  font-size: 17px;
}

.input-wrapper .icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  color: #666;
}

.intro-success__submit {
  width: 100%;
  padding: 18px;
  background: #e63900;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
}

.intro-success__submit:hover {
  background: #c53000;
}