.intro {
  //color: #fff;
  text-align: center;
}

.intro__title {
  font-weight: bold;
  margin: 0 0 24px;
  font-size: 32px;
  line-height: 1.2;
}

.intro__text p {
  margin: 0 0 16px;
  font-size: 18px;
  line-height: 1.4;
}

.intro__card {
  margin: 0 auto 30px;
  max-width: 480px;
}

.intro__card img {
  width: 100%;
  height: auto;
  //border-radius: 10px;
  //box-shadow: 0 8px 24px rgba(0,0,0,0.35);
}

.intro__steps {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;

}

.intro__step {
  max-width: 115px;
  width: 100%;
}

.intro__step img {
  //width: 70px;
  //height: 70px;
  margin: 0 auto 10px;
}

.intro__step span {
  font-size: 15px;
  line-height: 1.3;
}

.intro__actions {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.intro__btn {
  padding: 14px 32px;
  font-size: 17px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  transition: all 0.18s;
  background: linear-gradient(to top, #FDF29F, #EB4716);
  max-width: 240px;
  width: 100%;
}


.intro__btn:hover {
  opacity: 0.92;
  transform: translateY(-1px);
}