.order-card {
  max-width: 480px;
  margin: 0 auto;
  background: linear-gradient(90deg, #FFB938 0%, #F3CF78 28.37%, #FEF4B3 61.54%, #E0BE80 100%), #F9E5C7;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.50);
  color: #000;
  padding: 15px;
  border-radius: 16px;
  text-align: center;

  @include rm(768){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    gap: 20px;
  }
}
.order-card__content {
  @include rm(768){
    display: contents;
    //flex-wrap: wrap;
  }
}
.order__title {
  width: 100%;
  margin: 0 0 20px;
  //font-size: 40px;
  font-weight: 700;
  //padding: 0 30px;
  color: #333;

  @include rm(768){
    width: 100%;
    margin-bottom: 0;
  }
}
.special__offer {
    width: 100%;
    padding: 18px;
    background: #f60;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0 20px;

  & .current {
    color: white;
    font-size: 25px;
    @include rm(1024){
      font-size: 35px;
    }
  }
}
.order__offer {
  //display: flex;
  //gap: 12px;
  justify-content: center;
  margin-bottom: 20px;
  padding-top: 15px;
  border-top: 2px solid #333;

  //padding: 14px;
  //border-radius: 20px;
  font-size: 19px;
  font-weight: bold;

  //background: #ff6600;
  color: #333;

  @include rm(768){
    order: 2;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }
  @include rm(1024){
    max-width: 450px;
  }
}



.special__offer .tag,
.order__offer .tag{
  position: relative;
  top: -1px;
  margin-right: 5px;

  @include rm(1024){
    //top: 0;
    font-size: 30px;
  }
}

//.tag,
//.discount {
//  padding: 6px 14px;
//  border-radius: 20px;
//  font-size: 14px;
//  font-weight: bold;
//}
//
//.tag {
//  background: #ff6600;
//  color: white;
//}

.discount {
  background: #00cc00;
  color: white;
}

.order__products {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
  margin: 20px 0;

  @include rm(768){
    position: relative;
    order: 3;
  }
  //@include rm(1220){
  //  max-width: 690px;
  //  width: 100%;
  //}
}

.order__products img {
  width: 290px;
  height: auto;
  border-radius: 8px;


  @include rm(768){
    width: 100%;
    max-width: 410px;
  }

  @include rm(1024){
    width: 100%;
    max-width: 560px;
  }
  @include rm(1220){
    width: 100%;
    max-width: 690px;
  }
}

.order__economy {
  font-size: 18px;
  font-weight: bold;
  margin: 16px 0;
}

.order__price {
  margin: 20px 0;
}

.current {
  white-space: nowrap;
  font-size: 25px;
  font-weight: bold;
  color: #333;

  @include rm(1024){
    font-size: 40px;
  }
}

.old {
  font-size: 18px;
  text-decoration: line-through;
  color: #666;
  margin-left: 12px;
}

.form-group {
  //margin: 20px 0;
  text-align: left;
  margin-bottom: 15px;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  width: 100%;
  padding: 16px 20px 16px 20px;
  text-align: left;
  padding-left: 40px;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: inherit;

}

.input-wrapper .icon {
  //display: none;
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  color: #555;
}

.order__submit {
  width: 100%;
  padding: 18px;
  background: #e63900;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 22px;
  font-weight: bold;
  margin: 20px 0 12px;
  cursor: pointer;
}

.order__privacy {
  font-size: 17px;
  opacity: 0.9;
}

.order__form {
  @include rm(768){
    order: 3;
    width: 100%;
    max-width: 250px;
  }
  @include rm(1024){
    width: 100%;
    max-width: 350px;
    position: relative;

  }

  @include rm(1220){
    max-width: 400px;
  }
}