.presentation-modal {
  max-width: 500px;
  margin: 0 auto;
  background: linear-gradient(90deg, #FFB938 0%, #F3CF78 28.37%, #FEF4B3 61.54%, #E0BE80 100%), #F9E5C7;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.50);
  color: #000;
  padding: 15px;
  border-radius: 16px;

  text-align: center;

  @include rm(1024) {
    display: flex;
    justify-content: center;
    //align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 25px;
    column-gap: 30px;
  }

  @include rm(1220){
    column-gap: 40px;
  }
}

.presentation-modal__content {
  @include rm(1024) {
    display: contents;
  }
}

.presentation__title {
  margin: 0 0 12px;
  font-size: 25px;
  line-height: 1.2;
  font-weight: bold;

  @include rm(1024){
    text-align: left;
    width: 100%;
  }
}

.presentation__desc {
  font-size: 18px;
  line-height: 1.5;
  margin: 0 0 15px;

  @include rm(1024){
    text-align: left;
    width: 450px;
    margin-bottom: 0;
  }

  @include rm(1220){
    width: 550px;
  }
}

.presentation__benefits {
  @include rm(1024){
    width: calc(45% - 8px);
  }
  @include rm(1220){
    width: calc(38% - 8px);
  }
}
.presentation__benefits strong {
  display: block;
  display: block;
  margin: 20px 0 12px;
  font-size: 25px;
  font-weight: bold;

  @include rm(1024){
    text-align: left;
    margin-top: 0;
  }
}

.presentation__benefits ul {
  list-style: none;
  padding: 0;
  margin: 0 0 24px;
  text-align: left;
}

.presentation__benefits li:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  width: 8px;
  height: 8px;
  background: #333;
  border-radius: 50%;
}

.presentation__benefits li {
  //margin: 8px 0;
  font-size: 18px;
  position: relative;
  padding-left: 18px;
  line-height: 1.3;


  &:not(:last-of-type) {
    margin-bottom: 8px;
  }
}

.presentation__recommend {
  display: flex;
  flex-direction: column;

  @include rm(1024){
    display: contents;
  }
}

.presentation__recommend strong {
  display: block;
  margin: 15px 0 16px;
  font-size: 18px;

  @include rm(1024){
    margin: 0;
  }
}

.presentation__recommend h3 {
  order: 2;
  font-size: 25px;
  font-weight: bold;

  @include rm(1024){
    font-size: 34px;
    margin-right: 10px;
    width: 100%;
    display: inline;
  }
}

.presentation__recommend h3 + strong {
  font-style: italic;
  font-size: 22px;
  order: 2;

  @include rm(1024){
    font-size: 30px;
    width: 100%;
    display: inline;
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin: 20px 0;
  counter-reset: my-counter;
  list-style-type: none;
}

.product:before {
  content: counters(my-counter, ".") ") ";
  position: relative;
  top: 0;
  left: 0;
  font-size: 25px;
}

.product {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: left;
  font-size: 18px;
  position: relative;
  //padding-left: 27px;
  counter-increment: my-counter;
  line-height: 1.3;

}

.product img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 8px;
}

.product span {
  font-size: 13px;
  line-height: 1.3;
}

.presentation__images {
  padding-top: 20px;
  position: relative;
  order: 2;

  @include rm(1024){
    padding-top: 0;
  }
}

.presentation__images img {
  width: 100%;
  max-width: 380px;
  margin: 20px auto;
  display: block;

  @include rm(1024){
    margin: 0;
    max-width: 450px;
  }
  @include rm(1220){
    margin: 0;
    max-width: 550px;
  }
}

.presentations .products {
  order: 4;
  @include rm(1024){
    margin: 0;
    max-width: 450px;
  }
  @include rm(1024){
    max-width: 400px;
    align-self: center;
    gap: 8px;
  }
}
.presentation__actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  margin-top: 10px;
  order: 5;

  @include rm(1024){
    width: 100%;
    flex-direction: row;
    margin-top: 20px;
  }
}

.presentation__change,
.presentation__next {
  padding: 14px 28px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;

  @include rm(1024){
    max-width: 300px;
    width: 100%;

  }
}

.presentation__change {
  background: white;
  color: #8B0000;
}

.presentation__next {
  background: #e63900;
  color: white;
}

.presentation__footnote,
.presentation__price {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bold;
  order: 3;

  @include rm(1024){
    order: 4;
    width: 100%;
    margin-bottom: 0;
  }
}

.presentation__price {
  width: fit-content;
  margin-bottom: 0;
  padding: 10px;
  //padding-left: 20px;
  //padding-right: 20px;
  background: green;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-radius: 20px;
  margin: 0 auto;
  line-height: 1.3;

  @include rm(375){
    font-size: 20px;
  }
  @include rm(425){
    font-size: 23px;
  }


  @include rm(1024){
    width: fit-content;
    font-size: 23px;
  }
}

.presentation__saving {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background: red;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border-radius: 20px;

  //@include rm(1024){
  //  width: 100%;
  //  margin-bottom: 0;
  //}
}

.presentation__price:not(:last-of-type) {
  margin-bottom: 10px;

  @include rm(1024){
    margin-bottom: 0;
  }
}

.old-price {
  text-decoration: line-through;
}

.presentation__subtitle {
  //width: 100%;

  @include rm(1024){

    margin-bottom: 10px;
    //order: 3;
    //max-width: 300px;
  }
}


html[lang="sl"] .presentation__price {
  font-size: 19px;
}

@include rm(375){
  html[lang="sl"] .presentation__price {
    font-size: 23px;
  }
}

@include rm(425){
  html[lang="sl"] .presentation__price {
    font-size: 26px;
  }
}