.problems {
  color: #fff;
  text-align: center;
}

.problems__title {
  margin: 0 0 32px;
  font-size: 28px;
  line-height: 1.2;
}

.problems-mobile {
  display: block;
}

.problems-desktop {
  display: none;
}

.problems-mobile__item {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 16px 20px;
  margin: 10px 0;
  background: rgba(255,255,255,0.08);
  border-radius: 12px;
  cursor: pointer;
  font-size: 17px;
  text-align: left;
}

.problems-mobile__item input {
  margin: 0;
  accent-color: #ffcc00;
}

.problems-mobile__item .icon {
  font-size: 30px;
  min-width: 40px;
}

.problems__next {
  margin-top: 40px;
  padding: 16px 60px;
  background: #e63900;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
  margin: 40px auto;
}

.problems__next:hover {
  background: #c53000;
}

.problems-list label {
  text-align: left;
}

/* Десктоп */
@media (min-width: 768px) {
  //.problems-mobile {
  //  display: none;
  //}

  .problems-desktop {
    display: flex;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
  }

  .categories {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .category-btn {
    padding: 16px 20px;
    background: rgba(255,255,255,0.1);
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 17px;
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 14px;
    transition: all 0.15s;
  }

  .category-btn:hover {
    background: rgba(255,255,255,0.2);
  }

  .category-btn .icon {
    font-size: 28px;
  }

  .problems-list {
    width: 65%;
    background: rgba(0,0,0,0.25);
    padding: 28px;
    border-radius: 16px;
  }

  .problems-list__numbered {
    margin: 0;
    padding-left: 0px;
    list-style: none;
    counter-reset: prob;
  }

  .problems-list__numbered li {
    counter-increment: prob;
    margin: 18px 0;
    font-size: 16px;
  }

  //.problems-list__numbered li::before {
  //  //content: counter(prob) " ";
  //  color: #ffcc00;
  //  font-weight: bold;
  //  margin-right: 10px;
  //}

  .problems-list label {

    cursor: pointer;
    display: block;
  }

  .problems-list input {
    accent-color: #ffcc00;
  }
}

.accordion-item:nth-child(1) .accordion-header:before{
  background-image: url(../../img/joint.svg);
  background-repeat:no-repeat;
  background-position: 13px center;
  background-size: 50px;
}
.accordion-item:nth-child(2) .accordion-header:before{
  background-image: url(../../img/diabette.svg);
  background-repeat:no-repeat;
  background-position: 13px center;
  background-size: 50px;
}
.accordion-item:nth-child(3) .accordion-header:before{
  background-image: url(../../img/blood-pressure.svg);
  background-repeat:no-repeat;
  background-position: 13px 13px;
  background-size: 50px;
}
.accordion-item:nth-child(4) .accordion-header:before{
  background-image: url(../../img/metabolism.svg);
  background-repeat:no-repeat;
  background-position: 13px 13px;
  background-size: 50px;
}
.accordion-item:nth-child(5) .accordion-header:before{
  background-image: url(../../img/weight.svg);
  background-repeat:no-repeat;
  background-position: 13px center;
  background-size: 50px;
}
.accordion-item:nth-child(6) .accordion-header:before{
  background-image: url(../../img/welness.svg);
  background-repeat:no-repeat;
  background-position: 13px center;
  background-size: 50px;
}

.accordion-header:before{
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 75px;
}

.problems-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.accordion-item{
  width: 100%;
  padding: 25px 20px 25px 75px;
  padding: 25px 20px 25px 20px;
  //background: rgba(255,255,255,0.08);
  background: rgba(0,0,0,0.35);
  cursor: pointer;
  border-radius: 12px;
  //margin-bottom: 20px;
  position: relative;

  //@include rm(640){
  //  width: calc(50% - 10px);
  //  align-self: flex-start;
  //}
}
.accordion-header {
  display: flex;
  align-items: center;
  gap: 14px;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
  padding-left: 55px;
  padding-right: 40px;


}
.accordion-item.active{
  border: 1px solid #fff;
}

.accordion-item.active .accordion-content:after{
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background: #ffffff;
}

.accordion-header input{
  display: none;
}
.accordion-header span{
  font-size: 20px;
  line-height: 1.3;
  color: yellow;
}
.accordion-content{
  text-align: left;
  max-height:0;
  overflow:hidden;
  transition:max-height .35s ease;
  position: relative;
}

/* внутренний блок с паддингом */
.accordion-content__inner{
  padding:16px 0 0px;
  margin-top: 25px;
}

.accordion-content__inner ol li{
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1.3;
}
.accordion-content__inner ol li:last-child{
  margin-bottom: 0;
}
.accordion-item:after{
  content: '';
  //background: url("../../img/selected.svg") 0 0 no-repeat;
  //background: url("../../img/arrow1.svg") 0 0 no-repeat;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 5px;
  position: absolute;
  top: 19px;
  right: 10px;
}
.accordion-item:before{
  content: '';
  //background: url("../../img/selected.svg") 0 0 no-repeat;
  background: url("../../img/arrow2.svg") center no-repeat;
  width: 40px;
  height: 40px;
  -webkit-background-size: 35px;
  background-size: 35px;
  position: absolute;
  top: 19px;
  right: 10px;
  transform: scaleY(-1) rotateZ(45deg);
  transition: .5s;

}
.accordion-item.active:before{
  transform: scaleY(-1) rotateZ(-45deg);
}
.accordion-item.active .accordion-item{
  position: relative;
}
.accordion-item.active .accordion-content{
  max-height:500px; /* любое большое */
  overflow: initial;
}

.accordion-content__btn{
  //background: #fff;
  padding: 10px 20px;
  font-size: 20px;
  //margin: 15px 0 0;
  width: 100%;
  border-radius: 9px;
  font-weight: 300;
  position: relative;
  //color: #000;
  text-align: center;
  background: #e63900;
  color: #ffffff;
  cursor: pointer;

  max-width: 320px;
  margin: 0 auto;
  margin-top: 15px;
}
.accordion-content__btn:before, .accordion-content__btn:after{
  content: '';
  background: url("../../img/arrow3.svg") 0 center no-repeat;
  height: 40px;
  position: absolute;
  top: 3px;
  width: 40px;
  -webkit-background-size: 30px;
  background-size: 30px;
  pointer-events: none;
}
.accordion-content__btn:before{
  content: none;
  left: 20px;
  transform: rotateZ(45deg);
  background-position-y: 12px;

}
.accordion-content__btn:after{
  right: 20px;
  transform: rotateZ(-315deg);
  background-position-y: 9px;

}


.accordion-content ol {
  margin: 0;
  padding-left: 0px;
  list-style: none;
  counter-reset: item;
  //margin-left: -55px;
}
//
//.accordion-content li {
//  counter-increment: item;
//  margin: 10px 0;
//  font-size: 15px;
//}
//
//.accordion-content li::before {
//  content: counter(item) " ";
//  color: #ffcc00;
//  font-weight: bold;
//  margin-right: 8px;
//}