-
    const REVIEWS_STATIC = {
        'joints': [
            { avatar: "img/reviews-1.png" },
            { avatar: "img/reviews-2.png" },
            { avatar: "img/reviews-3.png" },
            { avatar: "img/reviews-4.jpg" },
            { avatar: "img/reviews-5.jpg" }
        ],
        'diabetes': [
            { avatar: "img/reviews-11.jpg" },
            { avatar: "img/reviews-12.jpg" },
            { avatar: "img/reviews-13.jpg" },
            { avatar: "img/reviews-14.jpg" },
            { avatar: "img/reviews-15.jpg" }
        ],
        'blood-pressure': [
            { avatar: "img/reviews-6.jpg" },
            { avatar: "img/reviews-7.jpg" },
            { avatar: "img/reviews-8.jpg" },
            { avatar: "img/reviews-9.jpg" },
            { avatar: "img/reviews-10.jpg" }
        ],
        'weight-loss': [
            { avatar: "img/reviews-16.jpg" },
            { avatar: "img/reviews-17.jpg" },
            { avatar: "img/reviews-18.jpg" },
            { avatar: "img/reviews-19.jpg" },
            { avatar: "img/reviews-20.jpg" }
        ],
        'tiredness': [
            { avatar: "img/reviews-21.jpg" },
            { avatar: "img/reviews-22.jpg" },
            { avatar: "img/reviews-23.jpg" },
            { avatar: "img/reviews-24.jpg" },
            { avatar: "img/reviews-25.jpg" }
        ]
    };

    // Merge static data with translated content (name, age, rating, text)
    const REVIEWS_DATA = {};
    Object.keys(REVIEWS_STATIC).forEach(niche => {
        REVIEWS_DATA[niche] = REVIEWS_STATIC[niche].map((staticData, index) => {
            return Object.assign({}, staticData, {
                niche: niche,
                name: t.reviews.data[niche][index].name,
                age: t.reviews.data[niche][index].age,
                rating: t.reviews.data[niche][index].rating,
                text: t.reviews.data[niche][index].text
            });
        });
    });

    // Helper functions
    function getAllReviews() {
        return Object.keys(REVIEWS_DATA).reduce((acc, niche) => {
            return acc.concat(REVIEWS_DATA[niche]);
        }, []);
    }

    function getReviewsByNiche(niche) {
        return REVIEWS_DATA[niche] || [];
    }

    function getCleanReviewsByNiche(niche) {
        const reviews = REVIEWS_DATA[niche] || [];
        return reviews.map(review => (Object.assign({}, review, {
            text: review.text.replace(/<a[^>]*class=['"]review-card__btn['"][^>]*>(.*?)<\/a>/g, '<span>$1</span>')
        })));
    }

    function getMixedReviewsSlides(reviewsPerSlide = 3) {
        // Get all reviews from all niches
        const allReviews = getAllReviews();

        // Shuffle the reviews randomly (Fisher-Yates shuffle algorithm)
        const shuffled = allReviews.slice(); // Create a copy
        for (let i = shuffled.length - 1; i > 0; i--) {
            const j = Math.floor(Math.random() * (i + 1));
            [shuffled[i], shuffled[j]] = [shuffled[j], shuffled[i]];
        }

        // Trim to make the total count divisible by reviewsPerSlide (3)
        const remainder = shuffled.length % reviewsPerSlide;
        if (remainder !== 0) {
            // Remove excess reviews from the end
            shuffled.splice(-remainder);
        }

        // Split into slides of reviewsPerSlide (3) reviews each
        const slides = [];
        for (let i = 0; i < shuffled.length; i += reviewsPerSlide) {
            slides.push(shuffled.slice(i, i + reviewsPerSlide));
        }

        return slides;
    }



// function getMixedReviewsSlides(reviewsPerSlide = 3) {
    //     const niches = Object.keys(REVIEWS_DATA);
    //     const maxReviews = Math.max.apply(Math, niches.map(function(n) { return REVIEWS_DATA[n].length; }));
    //     const slides = [];
    //
    //     for (let i = 0; i < maxReviews; i++) {
    //         const slide = [];
    //         for (let j = 0; j < reviewsPerSlide && j < niches.length; j++) {
    //             const nicheIndex = (i + j) % niches.length;
    //             const niche = niches[nicheIndex];
    //             const reviews = REVIEWS_DATA[niche];
    //             const reviewIndex = i % reviews.length;
    //
    //             if (reviews[reviewIndex]) {
    //                 slide.push(reviews[reviewIndex]);
    //             }
    //         }
    //         if (slide.length > 0) {
    //             slides.push(slide);
    //         }
    //     }
    //
    //     return slides;
    // }
