extends settings/layout

prepend html
  - const lang = locale;

prepend head
  - const pageTitle = t.common.pageTitle;
  - const themeColor = "#ffffff";

append head
    link(rel="stylesheet", href=basePath + "css/style.min.css")

append content
    .wrapper
        include components/intro
        include components/intro-popup
        include components/intro-success
        include components/problems
        include components/presentations
        include components/course
        include components/order
        //include components/thank-you

append scripts
    script(src=basePath + "js/main.js")
