extends settings/layout

prepend html
  - const lang = "ru";

prepend head
  - const pageTitle = "Sketch Card 2";
  - const themeColor = "#ffffff";

append head

append content
    .wrapper
        include components/intro
        include components/intro-popup
        include components/intro-success
        include components/problems
        include components/presentations
        include components/course
        include components/order
        include components/thank-you

append scripts
