extends settings/layout

prepend html
  - const lang = "ru";

prepend head
  - const pageTitle = "Купить {} недорого. Цены, отзывы. Закажите {} сейчас!";
  - const themeColor = "#ffffff";

append head

append content

append scripts
