extends settings/layout

prepend html
    - const lang = locale;

prepend head
    - const pageTitle = t.common.subscribeTitle;
    - const themeColor = "#ffffff";

append head
    link(rel="stylesheet", href=basePath + "css/subscribe.min.css")

append content
    .wrapper
        include components/thank-you

append scripts
    script(src=basePath + "js/subscribe.js")