extends settings/layout
include mixins/lang-switcher

prepend html
    - const lang = locale;

prepend head
    - const pageTitle = t.common.subscribeTitle;
    - const themeColor = "#ffffff";

append head
    link(rel="stylesheet", href=basePath + "css/subscribe.min.css")

append content
    header
        .container
            +lang-switcher('subscribe.html')

    .container
        p(style="color: #000; display: flex; justify-content: center; align-items: center; height: 100vh") SUBSCRIBE PAGE

append scripts
    script(src=basePath + "js/subscribe.js")