extends settings/layout

prepend html
    - const lang = "ru";

prepend head
    - const pageTitle = "Thank you page!";
    - const themeColor = "#ffffff";

append head

append content
    .container
        p(style="color: #000; display: flex; justify-content: center; align-items: center; height: 100vh") SUBSCRIBE PAGE

append scripts