section.course.block(class="screen hidden" id="screen-course")
    .container
        .course-modal
            h2.course__title Вибір курсу

            .course-options
                label.course-option
                    input(type="radio" name="course" value="complex1" checked)
                    .option-content
                        .badge 50%
                        .products
                            img(src="products-group.jpg" alt="Комплекси продуктів")

                        .price 4 по ціні 3 — Економія 500₴
                        .subtitle СХУДНЕННЯ / ВАГА СТОЇТЬ
                        ul
                            li Slimogi — контроль ваги
                            li Verminix — паразити
                            li Ultravix (Detox) — травлення і очищення

                label.course-option
                    input(type="radio" name="course" value="complex2")
                    .option-content
                        .badge 50%
                        .products
                            img(src="products-group.jpg" alt="Комплекси продуктів")

                        .price 4 по ціні 3 — Економія 500₴
                        .subtitle СХУДНЕННЯ / ВАГА СТОЇТЬ
                        ul
                            li Slimogi — контроль ваги
                            li Verminix — паразити

            button.course__select(type="button" data-target-screen="screen-order") Оберіть цей комплекс →