include ../mixins/course-details

-
    const niches = ['joints', 'diabetes', 'blood-pressure', 'weight-loss', 'tiredness'];

//section.course.block(class="screen hidden" id="screen-course")
section.course.block(class="screen" id="screen-course")
    each niche in niches
        +courseDetails(niche)