section.course.block
    .container
        .course-modal
            h2.course__title Вибір курсу

            .course-options
                label.course-option
                    input(type="radio" name="course" value="complex1" checked)
                    .option-content
                        .badge 50%
                        .products
                            img(src="vermixin.jpg")
                            img(src="ultravix.jpg")
                            img(src="ozencsoft.jpg")
                        .price 4 по ціні 3 — Економія 500₴
                        .subtitle СХУДНЕННЯ / ВАГА СТОЇТЬ
                        ul
                            li Slimogi — контроль ваги
                            li Verminix — паразити
                            li Ultravix (Detox) — травлення і очищення

                label.course-option
                    input(type="radio" name="course" value="complex2")
                    .option-content
                        .badge 50%
                        .products
                            img(src="slimi.jpg")
                            img(src="vermixin.jpg")
                        .price 4 по ціні 3 — Економія 500₴
                        .subtitle СХУДНЕННЯ / ВАГА СТОЇТЬ
                        ul
                            li Slimogi — контроль ваги
                            li Verminix — паразити

            button.course__select Оберіть цей комплекс →