header.header
    .header__wrapper.container
        button.header__button.btn.btn-arrow.btn-arrow--left.hidden(
            type="button"
            id="header-back-button"
            data-target-screen="screen-problems"
        )!= t.common.actions.returnToPreviousStep

        +lang-switcher()

