header.header
    .header__wrapper.container
        button.header__button.btn.btn-arrow.btn-arrow--left.hidden(
            type="button"
            id="from-course-to-problems"
            data-target-screen="screen-problems"
        )!= t.common.actions.selectAnotherProblem

        +lang-switcher()

