section.intro-success.block
    .container
        .success-card
            h1.intro-success__title Вітаємо!

            p.intro-success__text
                | Я допоможу вам використати бонусні бали та підібрати продукти під вашу проблему.
                br
                | Оформлення займе 2-3 хвилини, без дзвінка оператора.

            form.intro-success__form
                .form-group
                    label Введіть промокод з карти
                    .input-wrapper
                        input(type="text" name="promocode" placeholder="Промокод" required)
                        span.icon 🔑

                button.intro-success__submit(type="submit") Почати →