section.intro-popup.block
    .container
        h1.intro-popup__title Замовити дзвінок

        p.intro-popup__subtitle Оператор допоможе активувати бонуси та оформити замовлення.

        form.intro-popup__form
            .form-group
                label Введіть промокод з карти
                .input-wrapper
                    input(type="text" name="promocode" placeholder="Промокод" required)
                    span.icon 🔑

            .form-group
                label Введіть Ваше ім'я
                .input-wrapper
                    input(type="text" name="name" placeholder="Ваше ім'я" required)
                    span.icon 👤

            .form-group
                label Введіть номер телефону або WhatsApp
                .input-wrapper
                    input(type="tel" name="phone" placeholder="Ваш номер" required)
                    span.icon 📞

            button.intro-popup__submit(type="submit") Передзвоніть мені щоб активувати бонуси

            p.intro-popup__privacy
                | ✔ Ваші персональні дані захищені