section.intro-success.block(class="screen hidden" id="screen-intro-success")
    .container
        .success-card
            h1.intro-success__title Вітання!

            p.intro-success__text
                | Бажаєте оформити все самостійно?
                |
                br
                | Це зручно та швидко. Ви обираєте потрібний напрямок підтримки здоров'я, а бонуси застосуються автоматично.

            form.intro-success__form
                .form-group
                    label Введіть промокод з вашої картки
                    .input-wrapper
                        input(type="text" name="promo-code" placeholder="Промокод" required)
                        span.icon 🔑

                button.intro-success__submit(type="submit" disabled data-target-screen="screen-problems") Почати →