section.intro
    .container
        h1.intro__title Активуйте ваші бонусні бали

        .intro__text
            p Ви отримали бонуси зі SCRATCH-КАРТКИ.
            p Їх можна використати для замовлення продуктів зі знижкою вже зараз.

        .intro__card
            img(src="card.jpg" alt="Poklon +80 EUROBONUS")

        .intro__steps
            .intro__step
                img(src="icon-scratch.svg" alt="")
                span Стерли код на картці
            .intro__step
                img(src="icon-click.svg" alt="")
                span Активуй бонуси
            .intro__step
                img(src="icon-gift.svg" alt="")
                span Обери продукт і отримай вигоду

        .intro__actions
            button.intro__btn.intro__btn--call Замовити дзвінок
            button.intro__btn.intro__btn--site Оформити на сайті