section.intro.block(class="screen" id="screen-intro")
    .container
        h1.intro__title.text-gold-fill Активуйте ваші бонусні бали

        .intro__text
            p Ви отримали бонуси зі
                span.text-bold  SCRATCH-КАРТКИ
                |.
            p Їх можна використати для замовлення продуктів зі знижкою вже зараз.

        .intro__card
            img(src="img/cupon.png" alt="EUROBONUS")

        .intro__steps
            .intro__step
                img(src="img/icon-scratch.svg" alt="")
                span.text-bold  Стерли код <br> на картці
            .intro__step
                img(src="img/icon-click.svg" alt="")
                span.text-bold  Активуй бонуси
            .intro__step
                img(src="img/icon-gift.svg" alt="")
                span.text-bold  Обери продукт і отримай вигоду

        .intro__actions
            button.intro__btn.intro__btn--call(data-target-screen="screen-intro-popup") Замовити дзвінок оператора
            button.intro__btn.intro__btn--site(data-target-screen="screen-intro-success") Оформити самостійно на сайті
