section.intro.block(class="screen" id="screen-intro")
    .container
        h1.intro__title.text-gold-fill Ваш подарунок чекає: активуйте євробонуси

        .intro__text
            p Ви отримали
                span.text-bold.text-nowrap  SCRATCH-КАРТКУ
                |  з бонусами!
            p  Використайте їх зараз для замовлення продуктів з суттєвою вигодою.

        .intro__card
            img(src="img/cupon.png" alt="EUROBONUS")

        .intro__steps
            .intro__step
                img(src="img/icon-scratch.svg" alt="")
                span.text-bold  Зітріть захисний шар на картці
            .intro__step
                img(src="img/icon-click.svg" alt="")
                span.text-bold  Активуйте бонуси
            .intro__step
                img(src="img/icon-gift.svg" alt="")
                span.text-bold  Оберіть набір з вигодою

        .intro__actions
            button.intro__btn.intro__btn--call(data-target-screen="screen-intro-popup") Замовити дзвінок оператора
            button.intro__btn.intro__btn--site(data-target-screen="screen-intro-success") Оформити самостійно на сайті
