include ../data/presentations/config

section.presentations.block(class="screen hidden" id="screen-presentations")
    .container
        .presentation-modal
            .presentation-modal__content(data-config=JSON.stringify(presentationsConfig))

            .presentation__actions
                button.presentation__next.btn.btn-arrow.btn-arrow--right(type="button" data-target-screen="screen-order" id="from-presentation-to-order-form")!= t.presentation.btnNext
                button.presentation__change.btn.btn-arrow.btn-arrow--left.btn-arrow--black(type="button" data-target-screen="screen-course" id="from-presentation-to-course")!= t.presentation.btnChange
                button.presentation__next.btn.btn-arrow.btn-arrow--left.btn-arrow--double.btn-arrow--black(type="button" data-target-screen="screen-problems" id="from-presentation-to-problems")!= t.common.actions.selectAnotherProblem