section.thank-you.block
    .container
        .thank-you-card
            h1.thank-you__title Дякуємо!

            p.thank-you__text
                | Ваша заявка вже в роботі.
                br
                | Оператор зв’яжеться з вами найближчим часом.

            .thank-you__sparkles