section.thank-you.block
    .container
        .thank-you-card
            h1.thank-you__title Дякуємо!

            p.thank-you__text
                | Ваше замовлення прийнято та передано в доставку.
                br
                | Оператор служби доставки зв'яжеться з вами найближчим часом.

            .thank-you__sparkles
                // можна додати SVG або просто CSS-зірочки